@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/name-smile');

footer{
    padding: 5rem;
    text-align: center;
    width: 100%;
    background-color: #101820;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

  
  .footer-img{
    padding: 5rem 3rem;
    }
  
  h1{
    font-size: 60px;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    font-family: 'Name Smile', sans-serif;
      letter-spacing: 5px;
  }

  @media(min-width:830px){
    h1{
      font-size: 75px;
    }
  }
  
  .footer-textos p, .footer-textos h4{
    color: white;
  }
  
  p.texto-footer{
    background-color: #101820;
    color: white;
    text-align: center;
    padding-bottom: 3rem;
  }
  
  @media(max-width:650px){
    footer{
      flex-direction: column;
    }
    .footer-textos p{
      font-size: 1.5rem;
    } 
    .footer-textos h4{
      color: white;
      font-size: 1.6rem;
      padding-bottom: 1rem;
    }
    .footer-img{
      padding: 0;
   
      padding-bottom: 2rem;
      font-size: 30px;
      justify-content: center;
      display: flex;
    } 
    h1{
      font-size: 50px;
      color: #ffffff;
      font-family: 'Name Smile', sans-serif;
      letter-spacing: 5px;
    }
  }

  @media (max-width:350px){
    h1{
      font-size: 30px;
      color: #ffffff;
      font-family: 'Name Smile', sans-serif;
      letter-spacing: 5px;
    }
 
  }

  .footer-textos p{
    color: $blanco;
  }
  
  .redes{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    svg{
      cursor: pointer;
      transition: .3s;
      &:hover{
        transform: scale(1.1)
  
      }
    }
  }
  
  .dark .redes svg{
    filter: invert(0.8);
  }